.genNav {
  background: linear-gradient(
      134.98deg,
      #000000 4.59%,
      rgba(0, 0, 0, 0.0001) 93.35%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.active {
  background-color: #797979 !important;
}
