.pokemonCard {
  position: relative;
  width: 364px;
  min-width: 364px;
  height: 500px;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.pokemonCard.flip {
  --rotate-y: 180deg;
}

.pokemonCard .front,
.pokemonCard .back {
  position: absolute;
  backface-visibility: hidden;
}

.pokemonCard .back {
  transform: rotateY(180deg);
}

.pokemonCard .front {
  display: flex;
}

.pokecard {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
}
